.coverContainer{
width: 100%;
height: 354.1px;
display: flex;
gap: 2rem;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
background: linear-gradient(87.99deg, #006EF2 3.65%, #01AEFA 121.61%);
}
.titleContainer{
max-width: 784px;
display: flex;
flex-direction: column;
gap: 2rem;
}
.title{
color:white;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 42px;
}
.description{
  color:white;
font-family: 'Lato';
font-style: normal;
font-size: 20px;
}
.searchContainer{
  min-width: 784px;
  position: relative;
}
.input{
  font-size: 20px;
  padding-inline: 72px;
  color: #8298AB;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.searchIcon{
position: absolute;
top: 12px;
left: 23px;
}
.crossIcon{
position: absolute;
top: 12px;
left: 734px;
}