.footerContainer{
position: relative;
padding-inline: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
padding-block-start: 99px;
min-height: 539px;
gap: 60px;

/* Gradient */
background: linear-gradient(87.99deg, #006EF2 3.65%, #01AEFA 121.61%);
}
.siteMap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1140px;
}
.suggestionCard{
width: 359px;
height: 233px;
display: flex;
flex-direction: column;
gap: 19px;
padding: 22px;
background-color: #ffffff23;
border-radius: 8px;
}
.suggestionCardP{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
color: #FFFFFF;
}
.linksMainContainer{
  padding: 32px;
  gap:75px ;
  display: flex;
}
.linksContainer{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footerLinks{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;
color: #FFFFFF;
}
.footerLinksVentajas{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;
color: #FFFFFF;
}
.input{
color: #8298AB;
width: 100%;
height: 49px;
border: none;
padding: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
border-radius: 5px;
}
.toTop{
  position: absolute;
  right: 150px;
  top: 99px;
}
.social{
  display: none;
}
.lineDeco{
  display: none;
}
.infoContainer{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  min-height: 60px;
  width: 100%;
  max-width: 1140px;
  padding: 20px;
  background-color: #ffffff23;
  border-radius: 20px;
}
.info{
  align-items: center;
  display: flex;
  margin:3px;
  gap: 10px;
}
.infoContent{
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
color: #FFFFFF;
}
.logoCopyrigth{
flex-wrap: wrap;
display: flex;
width: 100%;
max-width: 1140px;
justify-content: space-between;
}
.Copyrigth{
text-align: center;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
color: #FFFFFF;
opacity: 0.3;
}
@media (max-width:888px){
  .siteMap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
  .linksMainContainer{
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
  }
.toTop{
  margin: 5px;
position: relative;
right: 0px;
  top: 0px;
}
.social{
display: block ;
margin: 5px;
position: relative;
}
.toTopContainer{
  display: flex;
  flex-direction: column;
  gap: 19px;
  height: 100%;
  justify-content: space-evenly;
}
.footerContainer{
  position: relative;
  padding-inline: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-block: 10px;
  min-height: 539px;
  gap: 60px;
  /* Gradient */
  background: linear-gradient(87.99deg, #006EF2 3.65%, #01AEFA 121.61%);
}
}
@media (max-width:540px){

  .footerContainer{
position: relative;
padding-inline: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
padding-block: 10px;
min-height: 539px;
gap: 60px;
}
  .footerContainer{
  position: relative;
  padding-inline: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-block-start: 50px;
  min-height: 539px;
  gap: 60px;
  /* Gradient */
  background: linear-gradient(87.99deg, #006EF2 3.65%, #01AEFA 121.61%);
}
.sugestionRNBLogo{
  width: 32px;
  height: auto;
}
.suggestionCardP{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #FFFFFF;
}
.suggestionCard{
width: 190px;
height: auto;
display: flex;
place-content: center;
flex-direction: column;
gap: 10px;
padding: 16px;
background-color: #ffffff23;
border: 1px solid rgba(255, 255, 255, 0.2);
border-radius: 16px;
}
  .footerLinksVentajas{
  display: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #FFFFFF;
  }
  .infoContainer{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  min-height: 60px;
  width: 100%;
  max-width: 100%;
  padding: 0px;
  background-color: #ffffff00;
  border-radius: 20px;
}
.infoContent{
  margin-block: 10px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
color: #FFFFFF;
}
.input{
color: #8298AB;
width: 158px;
height: 31px;
border: none;
padding: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 8px;
border-radius: 7.52px;
}
  .logoCopyrigth{
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  max-width: 1140px;
  justify-content: center;
}
.lineDeco{
  display: block;
  height: 2px;
  width: 100%;
  opacity: 0.2;
  border: 1px solid #FFFFFF;
}
}