.mainContainer{
  margin: 0 auto;
  place-content: center;
  padding-inline: 100px;
  margin-top: 50px;
  width: 100%;
  max-width: 1340px;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
}
.notFound{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 17px;
}
.verMasContainer{
  display: flex;
  place-content: center;
  margin-block: 60px;
}
.verMas{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 25px;
color: #006EF2;
}
@media (max-width:1047px){
  .mainContainer{
  margin: 0 auto;
  place-content: center;
  padding-inline: 0px;
  margin-top: 50px;
  width: 100%;
  max-width: 1340px;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
}
}